<div class="contact-row"> 
    <span>{{contact().firstName}} {{contact().lastName}}</span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span> {{contact().groups || '-' }}</span>

    <span class="actions">
        <button (click)="contactsService.deleteContact(contact().id)"class="btn-delete">Borrar</button></span>
        <button [routerLink]="['/contacts', contact().id, 'edit']" class="btn-edit">Editar</button>
    <span>
        @if (contact().isFavorite === true) {
            ⭐
        }
    </span>
</div>