<div class="contact-row"> 
    <span>{{contact().firstName}} {{contact().lastName}}</span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span> {{contact().groups || '-' }}</span>
    
    <span class="actions">
        <button (click)="openDeleteModal()"class="btn-delete">Borrar</button>
        <button [routerLink]="['/contacts', contact().id, 'edit']" class="btn-edit">Editar</button>
   </span>
        <span>
        @if (contact().isFavorite === true) {
            ⭐
        }
    </span>
</div>