.favourite{
    font-weight: bold;
}

.contact-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 0fr; // mismas columnas que el encabezado
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .contact-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.actions {
    display: flex;
    gap: 2px;
}

.btn-edit{
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(122, 122, 140);
    transition: background-color 0.3s; 
}
.btn-delete{
        border-radius: 4px;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        background-color: rgb(122, 122, 140);
        transition: background-color 0.3s; 
}
 
  .btn-delete:hover, 
  .btn-edit:hover {
    background-color: rgb(122, 122, 140);
  }

